@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

header {
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(176deg, #0891b2 70%, #FFFFFF calc(70% + 2px));
}

.person,
.about {
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.person {
    align-items: flex-end;
    position: relative;
    /* Add position relative */
    background-image: url(/images/tech-person.jpg);
    background-size: cover;
    background-position: center;
    height: 75%;
    width: 25%;
}

.name {
    position: absolute;
    font-size: 2rem;
    color: black;
}

.about {
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    padding: 0px 12px 0px 12px;
    gap: 30px;
    background-color: #f6f5f5;
    min-height: 0;
    height: 40%;
    width: 40%;
    overflow: auto;
}

.about p {
    font-size: 1rem;
}

.social-links {
    align-self: flex-end;
}

.social-links button,
.links button {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.25;
    padding: 5px;
    text-decoration: none;
    transition: all 250ms;
}

.social-links button:hover,
.social-links button:focus,
.links button:hover,
.links button:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.social-links button:hover,
.links button:hover {
    transform: translateY(-1px);
}

.social-links button:active,
.links button:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 0px 20px;
}

.my-work {
    padding-left: 100px;
    align-self: flex-start;
}

.projects {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 30px;
    width: 75%;
    grid-template-columns: repeat(3, 1fr);
}

.project {
    display: grid;
    grid-template-rows: 70% 30%;
    /* We dont want the height to change when window is resized. */
    /* hence, why we are using px. */
    height: 500px;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: auto;
}

.proj-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}

.name-link-and-desc,
.name-and-link {
    display: flex;
}

.name-link-and-desc {
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.name-and-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-evenly;
    background-color: #0891b2;
    padding: 25px;
}

.quote-address-and-contact-info {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.quote-address-and-contact-info h1,
.quote-address-and-contact-info div p {
    color: white;
}

.quote-address-and-contact-info div p {
    font-size: 18px;
}

.second-image {
    background: url(/images/contact.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 35%;
}

footer .social-links {
    align-self: flex-start;
}

/* tablet */
@media only screen and (min-width: 600px) and (max-width: 1450px) {
    header {
        padding-top: 50px;
    }

    .person {
        justify-self: flex-start;
        align-self: flex-start;
        height: 75%;
        width: 50%;
    }

    .about {
        justify-self: flex-end;
        align-self: flex-end;
        height: 50%;
    }

    .projects {
        grid-template-columns: 1fr 1fr;
    }

    .project {
        height: 575px;
    }

    .my-work {
        padding-left: 0px;
    }
}

/* mobile */
@media only screen and (max-width: 600px) {
    header {
        background-image: linear-gradient(176deg, #0891b2 30%, #FFFFFF calc(30% + 2px));
        gap: 10px;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .person {
        margin-top: 25px;
    }

    .person,
    .about {
        width: 90%;
    }

    .about {
        height: 50%;
        gap: 30px;
        border: none;
        background-color: #FFFFFF;
        box-shadow: none;
        align-items: center;
        overflow: scroll;
    }

    .about p {
        font-size: 1rem;
    }

    .social-links {
        align-self: center;
    }

    .projects {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .my-work {
        padding-left: 0px;
    }

    footer {
        flex-direction: column;
        gap: 30px;
    }

    .second-image {
        background: url(/images/contact.jpg);
        background-size: cover;
        background-position: center;
        height: 400px;
        width: 100%;
    }
}